<footer class="footer footer--main">

  <div class="col-grid">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-tb-10 col-tb-push-1 col-dk-8 col-dk-push-2">
        <div class="footer__super">
          <div class="footer__contact">
            {% if  settings.footer_form_action.size > 1 and settings.footer_form_name.size  > 1 %}
               <form class="form form--subscribe"
                    action="{{ settings.footer_form_action }}" method="post" target="_blank">
                <h6 class="h6--eyebrow">Sign up for the latest updates</h6>
                <div class="form__group">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
                  <input type="hidden" name="{{ settings.footer_form_name }}" tabindex="-1" value="">
                  <button type="submit">
                    <span class="icon-arrow-large-right"></span>
                  </button>
                </div>
              </form>
            {% endif %}
            <nav class="nav nav--social">
              <ul>
                {% for link in linklists.social.links %}
                <li>
                  <a class="button button--circle button--circle--ko" href="{{ link.url }}" target="_blank">
                    <span class="fab fa-{{ link.title | downcase }} fa-2x"></span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </nav>
          </div>

          <nav class="nav nav--main">
            <ul>
              {% for link in linklists.footer.links %}
              <li>
                <a class="{% if link.active %}active{% endif %}"
                   href="{{ link.url }}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>






        <div class="footer__sub">
           <div class="payment_methods">
            {% for type in shop.enabled_payment_types %}
              <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
            {% endfor %}
          </div>

          <nav class="nav nav--sub">
            <ul>
              {% for link in linklists.footer-sub-menu.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </nav>
          <div class="copyright">{{ settings.copyright }}</div>
        </div>
      </div>
    </div>
  </div>
</footer>
