<h2>{{ product.title }}</h2>
{% if product.has_only_default_variant %}
{% else %}
<span class="variant--select__heading">Select {{product.options}} </span>
<hr class="product-title--break" />

{% endif %}




  <div class="tab tab--variant-select">

    {% for variant in product.variants %}
      {% assign variant_addon = variant.metafields.global.addon_select %}
      {% if product.has_only_default_variant %}
        {% assign title = product.title %}
      {% else %}
        {% assign title = variant.title %}
      {% endif %}
      {% if product.has_only_default_variant %}
      {% else %}
      {% if product.selected_or_first_available_variant.id == variant.id %}
        <button id="first-varient" class="tablinks tablinks--varients active" data-addon="{{ variant_addon }}" onclick="openvarientTab(event, '{{title}}')" data-price ="{{variant.price}}" data-id="{{variant.id}}">{{title}}
          &nbsp;
          {% if variant.metafields.global.tooltip %}
            <div class="tooltip">&nbsp;
              <i data-info="{{ variant.metafields.global.tooltip }}"  class="fa fa-info"></i>
              <div class="tooltip__text">
               {{ variant.metafields.global.tooltip }}
              </div>
           </div>
          {% endif %}
        </button>
        {% else %}

        <button class="tablinks tablinks--varients"  onclick="openvarientTab(event, '{{title}}')" data-addon="{{ variant_addon }}" data-price ="{{variant.price}}" data-id="{{variant.id}}">{{title}}          &nbsp;
          {% if variant.metafields.global.tooltip %}
            <div class="tooltip">&nbsp;
              <i data-info="{{ variant.metafields.global.tooltip }}"  class="fa fa-info">          </i>
              <div class="tooltip__text">
               {{ variant.metafields.global.tooltip }}
              </div>
           </div>
          {% endif %}

        </button>

      {% endif %}
    {% endif %}
    {% endfor %}

  </div>





{% for variant in product.variants %}
  {% if product.has_only_default_variant %}
    {% assign title = product.title %}
  {% else %}
    {% assign title = variant.title %}
  {% endif %}

  {%if product.selected_or_first_available_variant.id == variant.id %}
  <div id="{{title}}" class="tabcontent" style="display:block;">
    <div class="product__title-price">
      <h1 class="h3">{{ title }}</h1>
      {% if variant.selected_or_first_available_variant.price > 1000000 %}
        Fill out form to get pricing and information (it may take a few seconds to load)
      {% else%}
        {% include 'variant-price' %}
        {% if variant.type == 'Refurb Robot' %}
            <p style="color: #0074E4;"><strong>{{ variant.selected_or_first_available_variant.inventory_quantity }} in stock</strong></p>

        {% endif %}
      {% endif %}
      <div class="product__description richtext">
        {{ product.description }}
      </div>
    </div>
  </div>
  {% else %}
    <div id="{{title}}" class="tabcontent">
      <div class="product__title-price">
        <h1 class="h3">{{ title }}</h1>
        {% if variant.selected_or_first_available_variant.price > 1000000 %}
          Fill out form to get pricing and information (it may take a few seconds to load)
        {% else%}
          {% include 'variant-price' %}
          {% if variant.type == 'Refurb Robot' %}
              <p style="color: #0074e4;"><strong>{{ variant.selected_or_first_available_variant.inventory_quantity }} in stock</strong></p>

          {% endif %}
        {% endif %}
        <div class="product__description richtext">
          {{ product.description }}
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
