{% if product.type == "Robot"%}
  <ol class="product__options">
    <h2>Essential Addons</h2>
    {% for product in collections.addons.products %}
      <li class="product__option">
        <a target="_blank" href= "{{product.url}}">
          <label>
            {{product.title}}
            <span class="addon__learn-more">&#8594; learn more</span>
          </label>
        </a>
        <img src="{{product | img_url}}" alt="{{product.title}}"/>
        <div class="addon__cart-control">
        <strong>QTY: </strong> &nbsp; &nbsp; <input id="quantity-{{product.id}}" class="addon__qty" data-url="{{product.url}}" data-price="{{product.price}}" type="number" min="0" name="product-quantity" value="0" />
        </div>
      </li>
    {% endfor %}
  </ol>
{% endif %}
