{{ 'product-simple-custom.scss.css' | asset_url | 'stylesheet_tag' }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class="product product--single">
  <div class="container">

    {% section 'section-product-simple' %}
  </div> <!-- end container -->
</div> <!-- end product--single -->

{% section 'section-includes' %}


<script>

  $("#product__thumbs_slider").slick({
    centerPadding: '30px',
    slidesToShow: 6,
    infinite: false,
    slidesToScroll: 6,
    arrows: false,
    responsive: [
        {
          breakpoint: 768,
            settings: {
                arrows: false,
                infinite: true,
                centerPadding: '20px',
                slidesToScroll: 4,
                slidesToShow: 4
            }
        },
        {
          breakpoint: 480,
            settings: {
                arrows: false,
                infinite: true,
                centerPadding: '20px',
                slidesToShow: 3
            }
        }
    ]
    });
  
  function calcPriceOnLoad(){
    var optionVariants = $(".section-option-variants ul.variants-lists.checkbox-options li.variants-item.checked .checkbox-variant");
    $(".add-to-cart-info ul.variants-lists").empty();

    optionVariants.each(function(){
      var group_name = $(this).data("group");
      $(".add-to-cart-info ul.variants-lists.group-"+group_name).empty().append('<li id="'+ $(this).attr("id") +'">'+
        '<div class="selected-product-title">'+ $(this).data('product-title') +'</div>'+
        '<span class="selected-product-price">$'+ $(this).data('product-price') +'</span>'+
        '</li>');
    });

    calcTotalPrice();
  }

  function calcTotalPrice(){
    var totalPrice = 0;
    $(".group-selected-products ul li .selected-product-price").each(function(){
      totalPrice += Number($(this).text().replace(/[^0-9.-]+/g,""));
    });

    // const formatter = new Intl.NumberFormat('en-US', {
    //   style: 'currency',
    //   currency: 'USD',
    //   minimumFractionDigits: 0
    // })

    $(".selected-total-price .total-price").text("$"+totalPrice);
  }

  function variantsToCart(items, index){
          
    if(index < 0 || items.length == 0){
      location.href="/cart";
      return;
    };

    var data = {
      "id": items.eq(index).data("product-id"),
      "quantity": 1
    }

    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() {
        variantsToCart(items, --index);
      }
    });
  }
  
  $(function(){
    $(".btn-add-to-cart").on("click", function(){
      if($(this).hasClass("disabled")) return false;
      $(this).addClass("disabled").find("span").text("ADDING...");
      var optionVariants = $(".section-option-variants ul.variants-lists.checkbox-options li.variants-item.checked .checkbox-variant");
      variantsToCart(optionVariants, optionVariants.length-1);
    });
    
    calcPriceOnLoad();

  });

</script>



<script type="text/javascript">
function openvarientTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent--table");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
  var product = {{ product | json }};
  var CURRENT_VARIENT_PRICE = {price: parseFloat("{{product.selected_or_first_available_variant.price}}"), id: "{{product.selected_or_first_available_variant.id}}" }

</script>

{{product.metafields.shogun.below}}

