<section class="hero" data-placeholder="{{ section.settings.placeholder_image | img_url: 'master'}}">
  <div class="hero__box">
      <div class="hero__overlay">
          <h1>{{section.settings.title}}</h1>
          <hr/>
          <span>{{section.settings.subtitle}}</span>
          <br>
          {% for block in section.blocks %}
            <a href="{{block.settings.url}}" class="button no-ajax">{{block.settings.text}}</a>
          {% endfor %}
      </div>
      <div>
        <!-- The video -->
        <video autoplay muted loop class="hero__video">
          <source src="{{section.settings.video}}" type="video/mp4"/>
        </video>
      </div>
  </div>
</section>


<style>


       @media screen and (max-width: 1000px) {
           .hero {
               padding-bottom: 100px;
              height: 75vh;
              background: url({{ section.settings.placeholder_image | img_url: 'master'}});
              background-size: contain;
              background-repeat: no-repeat;
           }
    }


</style>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "subtitle",
        "type": "text",
        "label": "Subtitle"
      },
      {
        "id": "video",
        "type": "text",
        "label": "Background Video"
      },
        {
            "id":"background_image",
            "type": "text",
            "label": "Background Image"
        },
        {
            "id": "placeholder_image",
            "type": "image_picker",
            "label": "Mobile and Video Disabled Image"
        }

    ],
      "blocks": [
          {
            "type": "text",
            "name": "Button",
            "settings": [
              {
                "id": "text",
                "type": "text",
                "label": "Text"
              },
              {
                "id": "url",
                "type": "text",
                "label": "URL"
              }
            ]
          }
        ],
    "presets": [
        {
          "name": "Hero Video",
          "category": "landing-section"
        }
      ]
  }
{% endschema %}
